@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: 'DM Sans', sans-serif;
}
.mapboxgl-canvas{
  border-radius: 1.5rem;
}
.mapboxgl-popup-content {
  border-radius: 1rem !important;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%) !important;

}